<div class="col-md-5 offset-md-3">
<h3 >Cellphone specs</h3>
<div>
    <div>
        <label><b>Model: </b></label> {{spec.model}}
    </div>
    <div>
        <label><b>Operating Sysem: </b></label> {{spec.operatingSystem}}
    </div>
    <div>
        <label><b>Camera: </b></label> {{spec.camera}}
    </div>
    <div>
        <label><b>Video: </b></label> {{spec.video}}
    </div>
    <div>
        <label><b>Sensors: </b></label> {{spec.sensors}}
    </div>
    <div>
        <label><b>Memory: </b></label> {{spec.memory}}
    </div>
</div>
</div>