<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <footer class="footer">
        <div class="container">
            <span class="text">Rights Reserved 2021 @Vico</span>
        </div>
        <!-- <div class="social-menu">
            <ul>
                <li>
                    <a href="#">
                        <img src="assets/images/facebook-24px.svg" alt="facebook" style="background-color: white; height: 20px;">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/images/download.png" alt="fa-linkedin" 
                            style="height: 20px; position: absolute; left: 12px; top: 3px;">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="assets/images/linkedin.jpg" alt="fa-instagram"
                            style="height: 20px; width: 20px; position: absolute; left: 70px; top: 3px;">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
            </ul> -->
    
        <!-- </div> -->
    </footer>
</body>
</html>
